@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme inline {
	--color-base-50: var(--base-50);
	--color-base-100: var(--base-100);
	--color-base-200: var(--base-200);
	--color-base-300: var(--base-300);
	--color-base-400: var(--base-400);
	--color-base-500: var(--base-500);
	--color-base-600: var(--base-600);
	--color-base-700: var(--base-700);
	--color-base-800: var(--base-800);
	--color-base-900: var(--base-900);
	--color-base-950: var(--base-950);

	--color-accent-50: var(--accent-50);
	--color-accent-100: var(--accent-100);
	--color-accent-200: var(--accent-200);
	--color-accent-300: var(--accent-300);
	--color-accent-400: var(--accent-400);
	--color-accent-500: var(--accent-500);
	--color-accent-600: var(--accent-600);
	--color-accent-700: var(--accent-700);
	--color-accent-800: var(--accent-800);
	--color-accent-900: var(--accent-900);
	--color-accent-950: var(--accent-950);
}

@layer base {
	:root {
		--accent-50: var(--color-cyan-50);
		--accent-100: var(--color-cyan-100);
		--accent-200: var(--color-cyan-200);
		--accent-300: var(--color-cyan-300);
		--accent-400: var(--color-cyan-400);
		--accent-500: var(--color-cyan-500);
		--accent-600: var(--color-cyan-600);
		--accent-700: var(--color-cyan-700);
		--accent-800: var(--color-cyan-800);
		--accent-900: var(--color-cyan-900);
		--accent-950: var(--color-cyan-950);

		--base-50: var(--color-zinc-50);
		--base-100: var(--color-zinc-100);
		--base-200: var(--color-zinc-200);
		--base-300: var(--color-zinc-300);
		--base-400: var(--color-zinc-400);
		--base-500: var(--color-zinc-500);
		--base-600: var(--color-zinc-600);
		--base-700: var(--color-zinc-700);
		--base-800: var(--color-zinc-800);
		--base-900: var(--color-zinc-900);
		--base-950: var(--color-zinc-950);
	}
}
